# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/node_modules
out
gen
Будет удалено README.md
Будет удалено node_modules/
Будет удалено package-lock.json
Будет удалено package.json
Будет удалено public/
Будет удалено src/
