.Converter{
    border: 2px solid darkgray;
    margin: 0 25%;
    padding: 0;
}
.Converter_title {
    background-color: #BD0C06;
    margin-top: 0;
    padding: 15px 0;
    text-align: center;
    color: white;
}

.Converter_main{
    background-color: #F1F1F1;
    margin-top: -20px;
    padding: 8px 22px;
}

.Converter_instruction{
   margin-left: 3px;
   color:#BD0C06;
    font-weight: bolder;
    font-style: italic;
    font-size: 26px;

}

.Converter_main_input{
    position: relative;
    top:-17px;

}
.Converter_main_input>input{
    width: 55%;
    font-size: 22px;
    color:#78787A;
    font-weight: bold;
    padding: 5px 0;
}



.Сonverter_main_selection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.Сonverter_main_selection_from-to{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #78787A;
    font-weight: bold;
    margin-bottom: 5px;

}

.Сonverter_main_selection_select>select{
    color: #F1F1F1!important;
    background-color: #BD0C06!important;
    padding: 12px 55px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.Сonverter_main_selection>button{
    border: none;
    background-color: #F1F1F1;

}
.Сonverter_main_selection>img{
    position: relative;
    top:20px;
    width: 100px;
}
.Converter_main_convert{
    text-align: center;
    margin-bottom: 30px;
}
.Converter_main_convert>button{
    background-color: #BD0C06;
    width: 280px;
    padding: 15px 20px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #78787A;
}
.Converter_output{
    background-color: #78787A;
    padding: 15px;
}
.Converter_output_value{
    text-align: left;
    padding:0 5px;
    font-size: 48px;
    font-weight: 500;
    color:white;
    position: relative;
    top:-10px;
    margin-bottom: 10px;
}
.Converter_output_rate{
    text-align: left;
    font-size: 48px;
    font-weight: 500;
    color:white;
    margin: -10px 0;
    padding-bottom: 15px;

}